@{
    ViewData["Title"] = "Login";
}

<div class="row p-5 justify-content-md-center">        
    <div class="jumbotron bg-light col-md-4 pt-3">
        <h1 class="text-center my-4" style="color: #f06eaa"><b>LOGIN</b></h1>
        <form asp-action="Login" method="POST">
            <div class="form-group">
                <input type="text" placeholder="Login" class="form-control mt-4" name="login"/>
            </div>
            <div class="form-group">
                <input type="password" placeholder="Senha" class="form-control" name="senha"/>
            </div>
            <input type="submit" class="btn btn-light text-white" style="background-color: #f06eaa;" value="Entrar" />
            <a href="/Usuario/Cadastro"><input type="button"  class="btn btn-light text-white" style="background-color: #ffd240" value="Cadastrar"/></a>
        </form>

        <p class="text-danger mt-2" id="erroLogin">@ViewData["Erro"]</p>
    </div>
</div>