@{
    ViewData["Title"] = "Atenção!";
}

<div class="row">    
    <div class="col p-5 justify-content-center">
        <h1 class="text-danger text-center my-2"><b>ACESSO NEGADO</b></h1>
        <p class="mt-5"><b>É necessário nível de administrador!</b></p>
        <a href="/Home/Index"><button class="btn btn-light text-white my-2" style="background-color: #f06eaa;">Voltar</button></a>
    </div>
</div>
 