@model Usuario
@{
    ViewData["Title"] = "Edição Usuário";
}

<div class="row">    
  <div class="col pt-5 justify-content-center">
        <h1 class="text-center my-2" style="color: #f06eaa"><b>EDIÇÃO DE USUÁRIO</b></h1>
  </div>
</div>
<partial name="_FormCadastro" for="@Model" />